.compat-attachment-fields tr {
    margin: 1em 0;
}


.compat-attachment-fields select#mdb-lv-media-state,
.compat-attachment-fields select#mdb-lv-license-guid {
    min-width: 30%;
}


.wp-list-table .column-license_term { width: 15%; }
.wp-list-table .column-license_link { width: 10%; }
