.compat-attachment-fields tr {
    margin: 1em 0;
}


.compat-attachment-fields select#mdb-lv-media-state,
.compat-attachment-fields select#mdb-lv-license-guid {
    min-width: 30%;
}


.wp-list-table.widefat.media td,
.wp-list-table.widefat.media th {

    &.column-mdb_lm_creator {
        width: 15%;
    }

    &.column-mdb_lm_license {
        width: 10%
    }
}

.wp-list-table.widefat.media_page_mdb-lm-available-licenses td,
.wp-list-table.widefat.media_page_mdb-lm-available-licenses th {
    vertical-align: middle;

    &.column-media_count {
        width: 10%;
    }

    &.column-license_terms {
        width: 15%
    }
}

.wp-list-table.widefat.media_page_mdb-lm-available-licenses td {

    &.column-license_name {
        padding: 1rem 0;
    }

}


.wp-list-table.widefat.media_page_mdb-lm-available-licenses th {

    &.column-license_name {
        padding-left: 142px !important;         // 150px - 8px padding (from th.sorting)
    }

}


;

.table-license-name td {
    vertical-align: middle;

    &:first-of-type {
        text-align: center;
    }
}
