.compat-attachment-fields tr {
    margin: 1em 0;
}


.wp-list-table.widefat.media td,
.wp-list-table.widefat.media th {

    &.column-mdb_lm_creator {
        width: 15%;
    }

    &.column-mdb_lm_license {
        width: 10%;
    }
}



.taxonomy-media_license .wp-list-table.widefat.tags td,
.taxonomy-media_license .wp-list-table.widefat.tags th {
    vertical-align: middle;

    &.column-media_count {
        width: 10%;
    }

    &.column-image {
        width: 100px !important;

        img {
            filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.25));
            max-height: 35px;
            width: 100%;
        }
    }
}
